requests>=2.31.0
beautifulsoup4>=4.12.2
lxml>=4.9.3        # optional parser for BeautifulSoup
html5lib>=1.1      # optional parser for BeautifulSoup

numpy>=1.26.0
dash>=2.16.0
plotly>=5.22.0
pandas>=2.2.2
yfinance>=0.2.40
